.footer{
    width: calc(100%-20px);
    height: 100px;
    text-align: center;    
    padding-top:10px;
    margin-bottom:30px;	
	font-size:0.825em;
}

.imgContact{
    width: 35px;
}

.contacts{
    text-align: center;    
}

.p{
	margin-bottom:5px;
	position:relative;
}

.footer_links{    
    margin-bottom: 5px;
}

#voltar{	
	bottom:0px;
    right:0px;    
}

.footer_voltar{
    text-align: center;
    align-content: center;
    width: 100%;    
    float: center;
    margin-top: 15px;
    padding: 1;
    color: khaki;;
}